<p id="notice"><%= notice %></p>

<div class="header">
  <a href="/"><div class="logo"></div></a>
  <div class="user"></div>
</div>
<h3 class="song-page"> <a href="/search"><< Back to the book result</a></h3>
<h1>Listing songs</h1>

<p>
  <b>Book:</b>
  <%= @catalog.book_id %>
</p>

<% Catalog.getAllSongIdsFor(@catalog.book_id).each do |song| %>
  <b>Song:</b> <%= link_to song[0], song[1] %>
  <br/ >
<% end %>

<br/>

<div class=footer>
  <p>BOOKBEAT created by <a href="http://www.designbygio.it">@designbygio</a> - Josi Harzmann - Anna Rose - Hannah Schoenholz </p>
  <p>at Berlin Geekettes Hackathon 2013 - An app for Readmill</p>
</div>

