<h1>Welcome to BookBeat</h1>

<a href="https://readmill.com/oauth/authorize?response_type=code&client_id=3c3e949307f81c6445f04491b5843609&redirect_uri=http://localhost:3000/home/search">Please sign in</a>
