<script src="http://connect.soundcloud.com/sdk.js"></script>
<script>
SC.initialize({
  client_id: 'e5827bb602f60810667a81ca65823de3'
});
</script>

<div class="header">
  <a href="/"><div class="logo"></div></a>
  <div class="user"></div>
</div>

<div id="putTheWidgetHere"></div>

<script type="text/JavaScript">
    SC.oEmbed("https://soundcloud.com/annarr-1/sets/metamorphosis", {color: "CC0000", maxwidth: "500"}, document.getElementById("putTheWidgetHere"));
</script>

