<div class="header">
  <a href="/"><div class="logo"></div></a>
  <div class="user"></div>
</div>
<h1>Search for a Book</h1>
<h3>Type in the title or writer of the book you  are looking for</h3>

  <input type="text" id="query" name="query" placeholder="Title or writer of the book" />
  <button class="button" type="submit" value="submit">Go</button>
  <a href="#"><p class="facke-link">Advanced search</p></a>

<div class=wrap>
</div>

<div class=footer>
  <p>BOOKBEAT created by <a href="http://www.designbygio.it">@designbygio</a> - Josi Harzmann - Anna Rose - Hannah Schoenholz </p>
  <p>at Berlin Geekettes Hackathon 2013 - An app for Readmill</p>
</div>