<!DOCTYPE html>
<html>
<head>
  <title>BookBeat</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<%= yield %>

<div class=footer>
  <p>BOOKBEAT created by Giorgia - Josefine - Anna - Hannah</p>
  <p>at Berlin Geekettes Hackathon 2013</p>
</div>

</body>
</html>
